body {
  font-family: Serif;
  color: white;
}
#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

input {
  position: absolute;
  width: 200px;
  height: 20px;
}

div {
  position: absolute;
}

.none {
  display: none;
}

.name {
  position: relative;
  display: inline;
}

.task {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 30px;
  margin-left: -150px;
  margin-top: -80px;
}

.addTask {
  position: absolute;
  top: 58%;
  left: 50%;
  width: 300px;
  height: 30px;
  margin-left: -150px;
  margin-top: -80px;
}

.done {
  text-decoration: line-through;
}

button {
  margin-left: 5px;
}

li {
  margin-bottom: 5px;
}

.h1Clock {
  position: absolute;
  margin-top: 30px;
}
.weather {
  position: absolute;
  top: 130px;
  left: 100%;
  margin-left: -140px;
  margin-top: -70px;
}

.weatherIcon {
  position: absolute;
  top: 51px;
  left: 101%;
  margin-left: -140px;
  margin-top: -70px;
}
